<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerrar Sesión</title>
    <style>
        .titulo {
            padding: 20px;
            background-color: #f44336; /* Color de fondo rojo */
            color: white;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <a class="hipervinc-header" href="index1.html">VOLVER AL INICIO</a>
    <h1 class="titulo">Vuelve a intentarlo</h1>
     <!-- Aquí puedes añadir más contenido según sea necesario -->
    <a class="hipervinc-header" href="iniciar-sesion.html">Iniciar sesión</a>
</body>
</html>
